<div class="content-center col-11">
  <div class="page-title mb-3">
    <h2>Info Monitorador</h2>
  </div>
  <mat-card class="info-card mb-3">
    <mat-card-header>
      <mat-card-title>{{monitorador.tipoPessoa}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="margin: 0.8rem 0.5rem 0.5rem 0.5rem">
        <div class="row-2">
          <div class="row-col">
            <label for="nomeId" *ngIf="monitorador.nome">Nome</label>
            <label for="nomeId" *ngIf="monitorador.razaoSocial">Raz&atilde;o Social</label>
            <h3 class="card-title" id="nomeId">{{monitorador.nome}}{{monitorador.razaoSocial}}</h3>
          </div>
          <div class="row-col">
            <label for="emailId">Email</label>
            <h4 class="card-title" id="emailId">{{monitorador.email}}</h4>
          </div>
        </div>
        <div class="row-2">
          <div class="row-col">
            <label for="dataNascId">Data Nascimento</label>
            <h4 class="card-title" id="dataNascId">{{monitorador.dataNascimento}}</h4>
          </div>
          <div class="row-col">
            <label for="identificadorId" *ngIf="monitorador.cpf">CPF</label>
            <label for="identificadorId" *ngIf="monitorador.cnpj">CNPJ</label>
            <h4 class="card-title" id="identificadorId">{{monitorador.cpf}}{{monitorador.cnpj}}</h4>
          </div>
        </div>
        <div class="row-2">
          <div class="row-col">
            <label for="rgInscricaoId" *ngIf="monitorador.rg">RG</label>
            <label for="rgInscricaoId" *ngIf="monitorador.inscricaoEstadual">Inscri&ccedil;&atilde;o Estadual</label>
            <h4 class="card-title" id="rgInscricaoId">{{monitorador.rg}}{{monitorador.inscricaoEstadual}}</h4>
          </div>
          <div class="row-col">
            <label for="statusId">Status</label>
            <div id="statusId">
              <button mat-flat-button color="accent" *ngIf="monitorador.ativo" (click)="desativarMonitorador()">Ativo</button>
              <button mat-stroked-button *ngIf="!monitorador.ativo" (click)="ativarMonitorador()">Inativo</button>
            </div>
          </div>
        </div>

        <div class="content-center col-11">
          <div class="page-title mt-2">
            <h3>Endere&ccedil;os</h3>
          </div>
          <table mat-table [dataSource]="dataSource" class="col-12">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let elementIndex = index; ">{{elementIndex + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="endereco">
              <th mat-header-cell *matHeaderCellDef>Endere&ccedil;o</th>
              <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
            </ng-container>

            <ng-container matColumnDef="bairro">
              <th mat-header-cell *matHeaderCellDef>Bairro</th>
              <td mat-cell *matCellDef="let element"> {{element.bairro}} </td>
            </ng-container>

            <ng-container matColumnDef="cidade">
              <th mat-header-cell *matHeaderCellDef>Cidade</th>
              <td mat-cell *matCellDef="let element"> {{element.cidade}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>UF</th>
              <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="content-end" style="margin-right: 0.8rem">
      <button mat-stroked-button (click)="cancelar()" style="margin-right: 0.5rem;">Fechar</button>
      <button mat-flat-button color="warn">Gerar PDF</button>
  </div>
</div>


