<div class="content-center">
  <div class="page-title mt-2 mb-3">
    <h1>Aplica&ccedil;&atilde;o Monitoradores</h1>
  </div>
  <div class="content-center col-6">
    <div>
      <p>Aqui ficaria coisas da home page.</p>
      <mat-card>
        <div class="row pb-2 pt-2">
          <button mat-flat-button color="primary" class="row-col" [routerLink]="['../monitoradores']">Lista de monitoradores</button>
        </div>
        <div class="row pb-2">
          <button mat-flat-button color="primary" class="row-col" [routerLink]="['../monitoradores/newForm']">Criar monitorador</button>
        </div>
        <div class="row pb-2">
          <button mat-flat-button color="accent" class="row-col" (click)="openDialog()">Importar monitoradores</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
