<div class="content-center col-6">
  <div class="page-title mb-4">
    <!-- TODO Alterar título conforme operação. -->
    <h2>Formulário Monitorador</h2>
  </div>
  <div>
    <form #formMonitorador="ngForm" class="form-max-spacing">

      <div class="row-2 col-4 pb-3">
        <mat-radio-group [(ngModel)] = "monitorador.tipoPessoa" name="tipoPessoa" aria-label="Select an option">
          <mat-radio-button [value]="tipoPessoa.PESSOA_FISICA" style="margin-right: 0.5rem">Pessoa Física</mat-radio-button>
          <mat-radio-button [value]="tipoPessoa.PESSOA_JURIDICA">Pessoa Jurídica</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="row-2 pb-1">
        <mat-form-field appearance="outline" class="row-col">
          <mat-label>Email</mat-label>
          <input matInput
                 [(ngModel)] = "monitorador.email"
                 name="email"
                 type="email"
                 placeholder="email@email.com"
                 required>
        </mat-form-field>

        <!--TODO arrumar data-->
        <mat-form-field appearance="outline" class="row-col">
          <mat-label>Data de nascimento</mat-label>
          <input matInput
                 [(ngModel)] = "monitorador.dataNascimento"
                 name="dataNascimento"
                 type="text"
                 placeholder="dd/mm/aaaa">
        </mat-form-field>
      </div>

      <div *ngIf="monitorador.tipoPessoa == tipoPessoa.PESSOA_FISICA" class="row-3 pb-1">
        <mat-form-field appearance="outline" class="row-col">
          <mat-label>Nome</mat-label>
          <input matInput
                 [(ngModel)] = "monitorador.nome"
                 name="nome"
                 type="text"
                 placeholder="Seu nome">
        </mat-form-field>

        <mat-form-field appearance="outline" class="row-col">
          <mat-label>CPF</mat-label>
          <input matInput
                 [(ngModel)] = "monitorador.cpf"
                 name="cpf"
                 type="text"
                 placeholder="000.000.000-00">
        </mat-form-field>

        <mat-form-field appearance="outline" class="row-col">
          <mat-label>RG</mat-label>
          <input matInput
                 [(ngModel)] = "monitorador.rg"
                 name="rg"
                 type="text"
                 placeholder="00.000.000-0">
        </mat-form-field>
      </div>

      <div *ngIf="monitorador.tipoPessoa == tipoPessoa.PESSOA_JURIDICA" class="row-3 pb-1">
        <mat-form-field appearance="outline" class="row-col">
          <mat-label>Razão Social</mat-label>
          <input matInput
                 [(ngModel)] = "monitorador.razaoSocial"
                 name="razaoSocial"
                 type="text"
                 placeholder="Empresa X">
        </mat-form-field>

        <mat-form-field appearance="outline" class="row-col">
          <mat-label>CNPJ</mat-label>
          <input matInput
                 [(ngModel)] = "monitorador.cnpj"
                 name="cnpj"
                 type="text"
                 placeholder="00.000.000/0000-00">
        </mat-form-field>

        <mat-form-field appearance="outline" class="row-col">
          <mat-label>Inscrição Estadual</mat-label>
          <input matInput
                 [(ngModel)] = "monitorador.inscricaoEstadual"
                 name="inscricaoEstadual"
                 type="text"
                 placeholder="0000000-00">
        </mat-form-field>
      </div>

      <div class="row col-5">
        <input type="submit"
               value="Salvar"
               class="row-col btn-primary"
               (click)="salvar()">
      </div>
    </form>
  </div>
</div>

<div class="mt-3 mb-3">
  <div class="content-center col-10">
    <app-endereco-list></app-endereco-list>
  </div>
</div>

