<div>
  <!-- Toolbar -->
  <mat-toolbar color="primary" class="mat-elevation-z8" id="toolbarId">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['']" class="link-white">App Monitoradores</a>
    <span class="example-spacer"></span>
    <button routerLink="" mat-button>Sair</button>
  </mat-toolbar>
  <!-- Toolbar -->

  <mat-drawer-container class="pageBody">

    <!-- Sidenav -->
    <mat-drawer #drawer opened="true" mode="side" position="start" class="sideNav">
      <mat-nav-list>
        <mat-list-item [routerLink]="['/home']">
          <button mat-button><mat-icon>home</mat-icon> home</button>
        </mat-list-item>
        <mat-list-item [routerLink]="['monitoradores']">
          <button mat-button><mat-icon>dashboard</mat-icon> monitoradores</button>
        </mat-list-item>
        <mat-list-item [routerLink]="['monitoradores/newForm']">
          <button mat-button><mat-icon>list_alt</mat-icon> Criar monitorador</button>
        </mat-list-item>
        <mat-list-item (click)="openDialog()">
          <button mat-button><mat-icon>insert_drive_file</mat-icon> Importar form</button>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <!-- Sidenav -->

    <!-- page body -->
    <mat-drawer-content>
        <mat-card class="content-card">
          <mat-card-content>
            <router-outlet></router-outlet>
          </mat-card-content>
        </mat-card>
    </mat-drawer-content>
    <!-- page body -->
  </mat-drawer-container>

  <div *ngIf="loading">
    <mat-spinner class="spinner-popup"></mat-spinner>
    <div class="spinner-background"></div>
  </div>

</div>



