<form [formGroup]="enderecoForm" class="form-max-spacing">
  <mat-dialog-content>
    <div class="content-center col-11">
      <div class="page-title mb-4">
        <!-- TODO Alterar título conforme operação. -->
        <h2>Formulário Endere&ccedil;o</h2>
      </div>
      <div>
          <div class="row-2 pb-1">
            <mat-form-field appearance="outline" class="row-col">
              <mat-label>CEP</mat-label>
              <input matInput
                     formControlName="cep"
                     type="text"
                     placeholder="00000-000"
                     (blur)="buscarEndereco()"
                     [mask]="'00000-000'">
              <mat-error *ngIf="enderecoForm.hasError('required', 'cep')">* CEP é <strong>obrigat&oacute;rio</strong></mat-error>
              <mat-error *ngIf="enderecoForm.hasError('pattern', 'cep')">* CEP inválido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="row-col">
              <mat-label>Endere&ccedil;o</mat-label>
              <input matInput
                     formControlName="endereco"
                     type="text"
                     placeholder="Rua 01, Qd 02, Lt 03"
                     required>
              <mat-error *ngIf="enderecoForm.hasError('required', 'endereco')">* Endere&ccedil;o é <strong>obrigat&oacute;rio</strong></mat-error>
              <mat-error *ngIf="enderecoForm.hasError('minlength', 'endereco') || enderecoForm.hasError('maxlength', 'endereco')">* Endere&ccedil;o tem que ter entre 3 e 30 caracteres</mat-error>
            </mat-form-field>
          </div>

          <div class="row-3 pb-1">
            <mat-form-field appearance="outline" class="row-col">
              <mat-label>Cidade</mat-label>
              <input matInput
                     formControlName="cidade"
                     type="text"
                     placeholder="Anápolis">
              <mat-error *ngIf="enderecoForm.hasError('required', 'cidade')">* Cidade é <strong>obrigat&oacute;rio</strong></mat-error>
              <mat-error *ngIf="enderecoForm.hasError('minlength', 'cidade') || enderecoForm.hasError('maxlength', 'cidade')">* Cidade tem que ter entre 3 e 20 caracteres</mat-error>
              <mat-error *ngIf="enderecoForm.hasError('pattern', 'cidade')">* Cidade contém caracteres inv&aacute;lidos</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="row-col">
              <mat-label>Bairro</mat-label>
              <input matInput
                     formControlName="bairro"
                     type="text"
                     placeholder="São João">
              <mat-error *ngIf="enderecoForm.hasError('required', 'bairro')">* Bairro é <strong>obrigat&oacute;rio</strong></mat-error>
              <mat-error *ngIf="enderecoForm.hasError('minlength', 'bairro') || enderecoForm.hasError('maxlength', 'bairro')">* Bairro tem que ter entre 3 e 20 caracteres</mat-error>
            </mat-form-field>

            <!--TODO verificar se está certo-->
            <mat-form-field appearance="outline" class="row-col">
              <mat-select formControlName="estado" placeholder="Estado">
                <mat-option value="AM">AM</mat-option>
                <mat-option value="AL">AL</mat-option>
                <mat-option value="AP">AP</mat-option>
                <mat-option value="BA">BA</mat-option>
                <mat-option value="PA">PA</mat-option>
                <mat-option value="MT">MT</mat-option>
                <mat-option value="MG">MG</mat-option>
                <mat-option value="MS">MS</mat-option>
                <mat-option value="GO">GO</mat-option>
                <mat-option value="MA">MA</mat-option>
                <mat-option value="RS">RS</mat-option>
                <mat-option value="TO">TO</mat-option>
                <mat-option value="PI">PI</mat-option>
                <mat-option value="SP">SP</mat-option>
                <mat-option value="RO">RO</mat-option>
                <mat-option value="RR">RR</mat-option>
                <mat-option value="PR">PR</mat-option>
                <mat-option value="CE">CE</mat-option>
                <mat-option value="PE">PE</mat-option>
                <mat-option value="SC">SC</mat-option>
                <mat-option value="PB">PB</mat-option>
                <mat-option value="RN">RN</mat-option>
                <mat-option value="ES">ES</mat-option>
                <mat-option value="RJ">RJ</mat-option>
                <mat-option value="SE">SE</mat-option>
                <mat-option value="DF">DF</mat-option>
              </mat-select>
              <mat-error *ngIf="enderecoForm.hasError('required', 'estado')">* Estado é <strong>obrigat&oacute;rio</strong></mat-error>
            </mat-form-field>
          </div>

          <div class="row-2 pb-1">
            <mat-form-field appearance="outline" class="row-col">
              <mat-label>N&uacute;mero</mat-label>
              <input matInput
                     formControlName="numero"
                     type="text"
                     placeholder="000">
              <mat-error *ngIf="enderecoForm.hasError('required', 'numero')">* N&uacute;mero é <strong>obrigat&oacute;rio</strong></mat-error>
              <mat-error *ngIf="enderecoForm.hasError('maxlength', 'numero')">* N&uacute;mero tem que ter no m&aacute;ximo 5 caracteres</mat-error>
            </mat-form-field>

            <!--TODO arrumar mask-->
            <mat-form-field appearance="outline" class="row-col">
              <mat-label>Telefone</mat-label>
              <input matInput
                     formControlName="telefone"
                     type="text"
                     [mask]="'(00)00000-0000'"
                     placeholder="(00)00000-0000">
              <mat-error *ngIf="enderecoForm.hasError('required', 'telefone')">* Telefone é <strong>obrigat&oacute;rio</strong></mat-error>
              <mat-error *ngIf="enderecoForm.hasError('pattern', 'telefone')">* Telefone inválido</mat-error>
            </mat-form-field>
          </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="row-2 col-7">
      <button mat-stroked-button
              class="row-col"
              style="margin-right: 0.5rem"
              (click)="cancelar()">Cancelar</button>

      <button mat-flat-button
              color="primary"
              class="row-col"
              type="submit"
              (click)="salvar()">Salvar</button>
    </div>
  </mat-dialog-actions>
</form>
