<div class="content-center">
  <div class="row col-2">
    <button mat-flat-button
            color="primary"
            class="row-col"
            (click)="openDialog(null)">Novo endere&ccedil;o</button>
  </div>
  <div *ngIf="dataSource.data.length > 0, else semEnderecos">
    <div class="page-title mt-3">
      <h3>Lista de endere&ccedil;os</h3>
    </div>

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let elementIndex = index; ">{{elementIndex + 1}}</td>
      </ng-container>

      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef> endere&ccedil;o </th>
        <td mat-cell *matCellDef="let element">{{element.endereco}}</td>
      </ng-container>

      <ng-container matColumnDef="cep">
        <th mat-header-cell *matHeaderCellDef> CEP </th>
        <td mat-cell *matCellDef="let element">{{element.cep}}</td>
      </ng-container>

      <ng-container matColumnDef="cidade">
        <th mat-header-cell *matHeaderCellDef> Cidade </th>
        <td mat-cell *matCellDef="let element">{{element.cidade}}</td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element">{{element.estado}}</td>
      </ng-container>

      <ng-container matColumnDef="opcoes">
        <th mat-header-cell *matHeaderCellDef> Op&ccedil;&otilde;es </th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button color="primary" style="margin-right: 0.5rem" (click)="openDialog(element)">Editar</button>
          <button mat-flat-button color="warn" (click)="deletarEndereco(element)">Excluir</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="principal">
        <th mat-header-cell *matHeaderCellDef> Pricnipal </th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button *ngIf="element.principal"disabled>Principal</button>
          <button mat-flat-button *ngIf="!element.principal" color="primary">Tornar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-template #semEnderecos>
    <div class="mt-3">
      <p style="text-align: center">Você ainda não cadastrou nenhum endereço!</p>
    </div>
  </ng-template>
</div>
