/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body, p{padding: 0; margin: 0;}

.page-title > h1{text-align: center; font-size: xxx-large;}

.page-title > h2{text-align: center; font-size: xx-large;}

.page-title > h3{text-align: center; font-size: x-large;}

.mb-1{margin-bottom: 0.5rem}
.mb-2{margin-bottom: 1rem}
.mb-3{margin-bottom: 1.5rem}
.mb-4{margin-bottom: 2rem}

.mt-1{margin-top: 0.5rem}
.mt-2{margin-top: 1rem}
.mt-3{margin-top: 1.5rem}
.mt-4{margin-top: 2rem}

.ml-1{margin-left: 0.5rem}
.ml-2{margin-left: 1rem}
.ml-3{margin-left: 1.5rem}
.ml-4{margin-left: 2rem}

.mr-1{margin-right: 0.5rem}
.mr-2{margin-right: 1rem}
.mr-3{margin-right: 1.5rem}
.mr-4{margin-right: 2rem}

.pb-1{padding-bottom: 0.5rem}
.pb-2{padding-bottom: 1rem}
.pb-3{padding-bottom: 1.5rem}
.pb-4{padding-bottom: 2rem}

.pt-1{padding-top: 0.5rem}
.pt-2{padding-top: 1rem}
.pt-3{padding-top: 1.5rem}
.pt-4{padding-top: 2rem}

.content-center{margin: 0 auto;}
.content-end{text-align:end;}

// Largura de conteúdo - https://www.w3schools.com/css/css_rwd_grid.asp
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.form-max-spacing{width: 100%;}

.row-3, .row-2, .row{display: flex; margin: 0 auto;}

.row-col{margin: 0 auto;}

.row-3 > .row-col{width: 32.33333333333333333333333333333333333%;}

.row-2 > .row-col{width: 49%;}

.row > .row-col{width: 99%;}

// TODO organizar buttons
.btn-primary{
  width: 95%;
  min-height: 40px;
  margin: auto; //todo
  background-color: #3f51b5;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.btn-radio{
  visibility: hidden;
  display: none;
}

.success{
  background-color: #f3faf7;
  color: #03543f;
}

.danger{
  background-color: #fdf2f2;
  color: #9b1c1c;
}
